$primary-color: #84a5ff;
$light-primary-color: #e6edff;

$white: #ffffff;
$dark-white: #f2f4f6;

$sidebar-background: $white;
$main-background: $dark-white;
$note-background-color: #fff;
$text-color: #333333;

// theme dark

$black: #2f3136;
$dark-black: #25272c;
$small-light-black: #393b40;
$light-black: rgba(#ffffff, 0.2);

$dark-sidebar-background: $black;
$dark-main-background: $dark-black;
$dark-note-background-color: $small-light-black;
$dark-text-color: #ffffff;
