.main.post {
    padding: 0;

    .ql-toolbar.ql-snow {
        border: none;
        padding: 16px 75px;
        border-bottom: 1px solid rgba(#333333, 0.1);
        margin-bottom: 40px;
    }

    .ql-container {
        &.ql-snow {
            border: none;
        }
    }

    .ql-editor {
        padding: 0 80px;
    }
}
