@import "../helpers/variable";

.dark {
    .sidebar {
        background-color: $dark-sidebar-background;
    }

    .nav-item a {
        color: $dark-text-color;
    }

    .view-mode {
        background-color: $light-black;

        &:hover {
            background-color: rgba($primary-color, 0.5);
        }

        &.active {
            background-color: $primary-color;
        }
    }

    .main {
        background-color: $dark-main-background;
    }

    .select {
        background-color: $black;
        color: $dark-text-color;
    }

    .item-view-mode-list {
        .view-mode {
            background-color: $small-light-black;
            color: rgba($dark-text-color, 0.1);

            &:hover {
                background-color: rgba($primary-color, 0.5);
                color: $dark-text-color;
            }

            &.active {
                background-color: $primary-color;
                color: $dark-text-color;
            }
        }
    }

    .note {
        background-color: $dark-note-background-color;
    }

    .like-note-button {
        color: $dark-text-color;

        &:hover,
        &.active {
            color: $primary-color;
        }
    }

    .note-title {
        color: $dark-text-color;
    }

    .note-date {
        color: rgba($dark-text-color, 0.5);
    }
}
